<div class="container-xl">
  <div class="my-5">
    <div class="banner">
      <div class="banner-item mb-4">
        <img alt="banner1" class="d-block w-100" src="../../../../assets/images/banner1.png">
      </div>
    </div>

    <h2 class="text-center mb-5">Ответы на часто задаваемые вопросы</h2>

    <div class="container cont-accord">
      <div class="accordion mb-5 wow animate__jackInTheBox" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button"
                    data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
              Собираете ли вы подарочные боксы?
            </button>
          </h2>
          <div aria-labelledby="headingOne" class="accordion-collapse collapse show"
               data-bs-parent="#accordionExample" id="collapseOne">
            <div class="accordion-body">
              Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
              стоимость!
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button aria-controls="collapseTwo" aria-expanded="false"
                    class="accordion-button collapsed"
                    data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
              Сколько у вас разновидностей чая?
            </button>
          </h2>
          <div aria-labelledby="headingTwo" class="accordion-collapse collapse"
               data-bs-parent="#accordionExample" id="collapseTwo">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores esse est ipsa
              molestiae natus nemo officia omnis sapiente tempore voluptatem. Commodi dolorem
              earum harum impedit incidunt labore quod veritatis voluptatem.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button aria-controls="collapseThree" aria-expanded="false"
                    class="accordion-button collapsed" data-bs-target="#collapseThree"
                    data-bs-toggle="collapse" type="button">
              В какой срок осуществляется доставка?
            </button>
          </h2>
          <div aria-labelledby="headingThree" class="accordion-collapse collapse"
               data-bs-parent="#accordionExample" id="collapseThree">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores esse est ipsa
              molestiae natus nemo officia omnis sapiente tempore voluptatem. Commodi dolorem
              earum harum impedit incidunt labore quod veritatis voluptatem.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button aria-controls="collapseFour" aria-expanded="false"
                    class="accordion-button collapsed" data-bs-target="#collapseFour"
                    data-bs-toggle="collapse" type="button">
              У вас обновляется ассортимент?
            </button>
          </h2>
          <div aria-labelledby="headingFour" class="accordion-collapse collapse"
               data-bs-parent="#accordionExample" id="collapseFour">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores esse est ipsa
              molestiae natus nemo officia omnis sapiente tempore voluptatem. Commodi dolorem
              earum harum impedit incidunt labore quod veritatis voluptatem.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button aria-controls="collapseFive" aria-expanded="false"
                    class="accordion-button collapsed" data-bs-target="#collapseFive"
                    data-bs-toggle="collapse" type="button">
              Какого объема у вас пачки чая?
            </button>
          </h2>
          <div aria-labelledby="headingFive" class="accordion-collapse collapse"
               data-bs-parent="#accordionExample" id="collapseFive">
            <div class="accordion-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores esse est ipsa
              molestiae natus nemo officia omnis sapiente tempore voluptatem. Commodi dolorem
              earum harum impedit incidunt labore quod veritatis voluptatem.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">ЧАЙ</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Посмотрите наши чайные коллекции</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Закрыть</button>
    <button type="button" class="btn btn-outline-primary" [routerLink]="['/products']" (click)="modal.close('Close click')">Смотреть</button>
  </div>
</ng-template>

