<div id="makeOrder" class="container cont-form">
  <h2 class="text-center mb-5">Сделать заказ</h2>
  <form class="row g-3">
    <div class="col-md-4">
      <label class="form-label" for="inputName">Имя</label>
      <input class="form-control" id="inputName" type="text">
    </div>
    <div class="col-md-4">
      <label class="form-label" for="inputSurname">Фамилия</label>
      <input class="form-control" id="inputSurname" type="text">
    </div>
    <div class="col-md-4">
      <label class="form-label" for="inputPhone">Телефон</label>
      <input class="form-control" id="inputPhone" type="tel">
    </div>
    <div class="col-md-6">
      <label class="form-label" for="inputCountry">Страна</label>
      <input class="form-control" id="inputCountry" type="text">
    </div>
    <div class="col-md-6">
      <label class="form-label" for="inputZip">Индекс</label>
      <input class="form-control" id="inputZip" type="text">
    </div>
    <div class="col-12 mb-3">
      <label class="form-label" for="inputAddress">Адрес</label>
      <input class="form-control" id="inputAddress" type="text">
    </div>
    <div class="col-12 mb-5">
      <button id="btnSend" class="btn btn-primary hvr-grow-shadow" type="submit">Отправить
      </button>
    </div>
  </form>
</div>
<div id="thankYou" class="container cont-form hideElement">
  <h2 class="text-center mb-5">Спасибо за заказ!</h2>
  <p class="text-center">Мы свяжемся с Вами в ближайшее время.</p>
</div>
