<h2 class="text-center mb-5">Наши чайные коллекции</h2>
<div class="container-xl">
  <div class="row g-3 justify-content-xl-center mb-5">
    <div class="col-lg-4">
      <div class="card">
        <a href="../../../../assets/images/catalog-1.png" class="popup-link">
          <img alt="catalog-1" class="img-fluid" src="../../../../assets/images/catalog-1.png"></a>
        <div class="p-4">
          <h3>Детокс чай лайм</h3>
          <p>Великолепный чай внесет в вашу жизнь яркие краски и вкус расслабления</p>
          <button class="btn btn-primary hvr-float-shadow">Подробнее</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <a href="../../../../assets/images/catalog-2.png" class="popup-link">
          <img alt="catalog-2" class="img-fluid" src="../../../../assets/images/catalog-2.png"></a>
        <div class="p-4">
          <h3>Ягодный чай</h3>
          <p>Нотки ягод позволят вам расслабиться и насладиться великолепием этого чая</p>
          <button class="btn btn-primary hvr-float-shadow">Подробнее</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <a href="../../../../assets/images/catalog-3.png" class="popup-link">
          <img alt="catalog-3" class="img-fluid" src="../../../../assets/images/catalog-3.png"></a>
        <div class="p-4">
          <h3>Цветочный чай</h3>
          <p>Душистые цветы создают невероятный аромат и наполняют вас энергией</p>
          <button class="btn btn-primary hvr-float-shadow">Подробнее</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <a href="../../../../assets/images/catalog-4.png" class="popup-link">
          <img alt="catalog-4" class="img-fluid" src="../../../../assets/images/catalog-4.png"></a>
        <div class="p-4">
          <h3>Очищающий чай</h3>
          <p>Бесподобный чай для получения утреннего заряда бодрости</p>
          <button class="btn btn-primary hvr-float-shadow">Подробнее</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <a href="../../../../assets/images/catalog-5.png" class="popup-link">
          <img alt="catalog-5" class="img-fluid" src="../../../../assets/images/catalog-5.png"></a>
        <div class="p-4">
          <h3>Кислый чай</h3>
          <p>Кислый чай для настоящих ценителей кислинки во время чаепития</p>
          <button class="btn btn-primary hvr-float-shadow">Подробнее</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <a href="../../../../assets/images/catalog-6.png" class="popup-link">
          <img alt="catalog-6" class="img-fluid" src="../../../../assets/images/catalog-6.png"></a>
        <div class="p-4">
          <h3>Лимонная мята</h3>
          <p>Смесь лимона с мятой сделает ваш день самым лучшим</p>
          <button class="btn btn-primary hvr-float-shadow">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
